{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>胡伟的博客</title>
</head>

<body background="/static/images/bk3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="margin-top: 8%; margin-left: 4%">
                <div id="myCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="{% url 'blog:index' %}"><img src="/static/images/1.jpg" alt="First slide"></a>
                        </div>
                        <div class="item">
                            <img src="/static/images/2.jpg" alt="Second slide">
                        </div>
                        <div class="item">
                            <img src="/static/images/3.jpg" alt="Third slide">
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-1"  style="background-color: #EEE; border-radius: 10px; margin-top: 10%; padding: 20px;">
                <h3 class="text-center">登录</h3>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}                         
                    {% for field in form %} 
            	        {{ field.label_tag }} 
                    	{{ field }} 
                    	{{ field.errors }} 
                    	{% if field.help_text %}
                    		<p>{{ field.help_text|safe }}</p>
                    	{% endif %} 
                        <br>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-block">登录</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <div class="text-center">
                    <a href="{% url 'blog:register' %}?next={{ request.path }}">Register </a>
                    <a href="{% url 'password_reset' %}"> ForgetPW</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>