<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
	<title>胡伟的博客</title>
</head>
<body>
     <div>
        <h1><a href="{% url 'blog:index' %}">BLOG</a></h1>
        <h3>设置新密码</h3>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                <br>
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <div><button type="submit">提交</button></div>
        </form>
    </div>
</body>
</html>